

.main {
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: 0;
    background-color: white;
}


.maindiv{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding:40px;
    justify-content:center;
    align-items:center;
    width: fit-content;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.box {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
}

.maindiv input[type="email"]{
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 300px;
    -webkit-appearance: none;
    border-radius: 0;
    padding-bottom: 5px;
    cursor: text;
}

.maindiv input[type="password"]{
    font-size: 16px;
    border: 0;
    border-bottom: 1px solid #ccc;
    width: 300px;
    -webkit-appearance: none;
    border-radius: 0;
    padding-bottom: 5px;
    cursor: text;
}

.maindiv input:focus {
    outline: 0;
    border-bottom: 1px solid #2E8DCD;
}

.maindiv label {
    font-size: 15px;
    color: #2E8DCD;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    padding-top: 3px;
}


.header{
    font-size: 20px;
    /* padding-left: 10px ; */
    padding-bottom: 5px;
    /* border-left: 2px solid #2E8DCD; */
    color: #2E8DCD;
    font-weight: bold;
}

.maindiv .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px 20px;
    letter-spacing: 0.05rem;
    background-color: #2E8DCD;
    color:white;
    border-radius: 5px;
    border: 2px solid #2E8DCD;
}

.maindiv .btn:hover {
    /* outline: 2px dotted #55d7dc;  */
    border: 2px solid #2E8DCD;
    background-color: transparent;
    color:black
}

.another_button{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    width: fit-content;
    font-size: 15px;
    padding: 10px 20px;
    letter-spacing: 0.05rem;
    background-color: #2E8DCD;
    color:white;
    border-radius: 5px;
    border: 2px solid #2E8DCD;
}

.another_button:hover{
    border: 2px solid #2E8DCD;
    background-color: transparent;
    color:black
}


.sidediv{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding:40px;
    justify-content:center;
    align-items:center;
    border-right: 1px solid grey;
}


.switchText{
    color:#2E8DCD ;
    cursor:pointer
}

.switchText:hover{
    color: #9c27b0;
}









/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}